{% extends 'base.html' %}
{% block title %}Log In{% endblock %}
{% block content %}
<h4>Login</h4>
<form action="#" class="form-group">
    <label for ="username">Username:</label><br>
    <input type="text" id="username" class="input-text" placeholder="Username"><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" class="input-text" placeholder="Password"><br>
    <button type="submit" class="btn-block">Login</button>
    <button type="submit" class="btn-block"><a href="/register/">Register</a></button>
</form>
{% endblock%}